* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 8px;
    left: 15%;
    width: 70vw;
    background-color: gray;
    padding: 10px 30px;
    border-radius: 60px;
    z-index: 1000;
}

.nav ul {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 20px;
    display: flex;
    gap: 72px;
    list-style: none;
    flex-wrap: wrap;
}

.nav ul li a {
    text-decoration: none;
    color: rgb(229, 234, 238);
    font-size: 30px;
    font-weight: 400;
    transition-duration: 0.5s;
}

.nav ul li:hover a {
    color: rgb(248, 60, 79);
    transition: 0.25s;
}

.main {
    background: url('adrien-olichon-RCAhiGJsUUE-unsplash.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 80vh;
    padding: 20px;
}

.main .aboutme {
    color: rgb(191, 226, 19);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    text-align: justify;
    max-width: 800px;
}

.main .img1 img {
    border-radius: 50%;
    max-width: 300px;
    width: 100%;
}

.main2 {
    background: url('istockphoto-1015509020-612x612.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    justify-content: center;
    height: 60vh;
    padding: 40px;
}

.main2 span {
    font-size: 65px;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(20, 21, 20);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    justify-content: center;
}

.gallery img {
    border: 5px solid white;
    width: 15%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.gallery img:hover {
    transform: scale(1.1);
}

.main3 {
    background: url('Screenshot 2024-06-28 194912.png') no-repeat center center;
    background-size: cover;
    padding: 50px;
    text-align: center;
    height: 50vh;
}

.main3 h2 {
    color: rgb(8, 214, 255);
    font-size: 65px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 100px;
}

.main3 ol {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding: 10px;
    list-style: none;
}

.main3 ol li {
    font-size: 30px;
    font-weight: 300;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main3 ol li a {
    color: rgb(209, 255, 2);
    text-decoration: none;
    transition: all 0.75s ease;
}

.main3 ol li:hover {
    transform: scaleX(1.3) scaleY(1.3);
}

.main3 ol li a:hover {
    color: rgb(255, 13, 122);
}

.main4 {
    background: url('kelly-sikkema-tk9RQCq5eQo-unsplash.jpg') no-repeat center center;
    background-size: cover;
    padding: 100px;
    text-align: center;
    justify-content: center;
    height: 60vh;
}

.main4 span {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.main4 .submit {
    padding: 15px;
    font-size: 16px;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
}

.main4 .comment {
    width: 80%;
    max-width: 400px;
    padding: 25px;
    font-size: 15px;
}

.main4 .Email {
    background-color: #2c2626;
    color: beige;
    opacity: 0.8;
    padding: 16px 50px;
    font-size: 20px;
}

.main4 .comment {
    height: 100px;
}

.main4 .submit {
    background-color: rgb(244, 56, 100);
    color: white;
    cursor: pointer;
    padding: 14px 25px;
    transition: transform 0.3s ease;
}

.main4 .submit:hover {
    transform: scale(1.3);
}

footer {
    background-color: rgb(28, 40, 37);
    padding: 30px;
    height: 15vh;
    text-align: center;
}

footer .line4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style: none;
    padding: 0;
}

footer .line4 li {
    display: flex;
    align-items: center; 
    gap: 10px; 
}

footer .line4 li a {
    text-decoration: none;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(133, 13, 137);
    transition: color 0.3s ease;
}

footer .line4 .row1 a:hover {
    color: rgb(8, 177, 244);
}
footer .line4 .row2 a:hover {
    color: rgb(244, 8, 150);
}
footer .line4 .row3 a:hover {
    color: rgb(8, 47, 244);
}

footer .line4 .row1 img,
footer .line4 .row2 img,
footer .line4 .row3 img {
    margin-top: 0; 
}

@media (max-width: 1300px) {
    .nav ul {
        gap: 25px;
    }

    .nav ul li a {
        font-size: 22px;
    }

    .main {
        flex-direction: row;
        padding: 30px;
    }

    .main .aboutme {
        font-size: 16px;
        max-width: 500px;
    }

    .main .img1 img {
        max-width: 250px;
    }

    .main2 span {
        font-size: 30px;
    }

    .main2 {
        height: 90vh;
        gap: 8px;
    }

    .gallery img {
        width: 18%;
    }

    .main3 h2 {
        font-size: 30px;
    }

    .main3 ol li {
        font-size: 16px;
    }

    .main3 ol li a:hover {
        transform: scale(1.05);
    }

    .main4 .Email,
    .main4 .comment,
    .main4 .submit {
        font-size: 14px;
    }

    footer .line4 .row1 a,
    footer .line4 .row2 a,
    footer .line4 .row3 a {
        font-size: 18px;
    }
}

@media (max-width: 1024px) {
    .nav ul {
        flex-direction: row;
        gap: 15px;
    }
    .nav ul li a {
        font-size: 20px;
    }

    .main {
        height: 95vh;
        flex-direction: column;
        padding: 20px;
        background-attachment: scroll;
    }

    .main .aboutme {
        font-size: 18px;
        max-width: 100%;
    }

    .main .img1 img {
        max-width: 200px;
    }

    .main2 {
        background-attachment: scroll;
        height: 80vh;
    }
.main4{ height: 70vh;}}

   
    @media (max-width: 768px) {
        .nav ul {
            flex-direction: column;
            gap: 4px;
        }
    
        .main {
            flex-direction: column;
            padding: 20px;
            height: 100vh;
        }
        .nav ul li a {
            font-size: 13px;
        }
        .nav {
            padding: 8px 10px;
        }
    
        .main .aboutme {
            font-size: 14px;
            max-width: 100%;
        }
        .main2 {
            height: 60vh;
        }
    
        .main .img1 img {
            max-width: 160px;
            padding-top: 15px;
        }
    
        .main2 span {
            font-size: 24px;
        }
    
        .gallery img {
            width: 25%;
        }
    
        .main3 ol {
            flex-direction: column;
            gap: 10px;
        }
    
        .main3 h2 {
            font-size: 28px;
        }
        .main3 {
            height: 90vh;
        }
    
        .main4 .Email,
        .main4 .comment,
        .main4 .submit {
            width: 100%;
            max-width: none;
        }
        .main4 {
            height: 70vh;
        }
        .footer .line4 li {
            flex-direction: row;
            gap: 5px;
        }
    
        .footer .line4 li a {
            font-size: 6px;
        }
    
        footer {
            height: 30vh;
        }
    }
    
    @media (max-width: 480px) {
        .nav ul {
            flex-direction: row;
            align-items: center;
            gap: 5px;
        }
    
        .nav ul li a {
            font-size: 8px;
        }
    
        .main .img1 {
            padding-top: 10%;
            width: 30%;
        }
    
        .main {
            gap: 10px;
            height: 70vh;
            flex-direction: column;
        }
    
        .main .aboutme {
            padding-top: 0;
            font-size: 8px;
            max-width: 100%;
        }
    
        .main2 span {
            font-size: 20px;
        }
    
        .gallery img {
            width: 80px;
        }
    
        .main3 h2 {
            font-size: 20px;
        }
    
        .main4 {
            height: auto;
        }
    
        .footer .line4 li {
            flex-direction: column;
            gap: 8px;
        }
    
        .footer .line4 li a {
            font-size: 7px;
        }
    
        .footer {
            height:5vh;
            flex-direction: column;
        }
        .line4 li img{
        display: none;
        }
        
    }
    